body{
background: #ffffff;
}
.container{
max-width: 900px;
border: 2px solid rgb(0, 0, 0);
margin: 0 auto;
}
img{
    position: absolute;
    top: 30px;
    right: 40px;
    width: 100px;
    border-radius: 20px;
border: 2px solid black;
}
