*{
  padding: 0;  
  margin: 0;
  list-style: none;
  font-family: Arial, Helvetica, sans-serif;
}
body{
    background: #999999;
}
.container{
    background: white;
    max-width: 1064px;
    margin: 0 auto;
}
.titleGeneral{
    padding: 10px 0 0 25px;
    color: black;
}
/*Criando o header*/
header{
    background: orangered;
    /*altura*/
    height: 130px;
    border-bottom: 4px solid #4681d6;
    /*flexbox*/
    display: flex;
    align-items: center;
}
header img{
    margin-left: 15px;
    margin-right: 15px;
}
header h2{
    color: rgb(255, 255, 255) ;
    text-transform: uppercase;
    font-size: 30px;
}
/*menu do site*/
.menu{
    display: flex;
    justify-content: space-around;
    align-items: center;    
    background-color: #d9d9d9;
}
.menu li{
/*espaçamento*/
    padding: 18px;   
}
.menu li a{
    font-size: 23px;
    text-decoration: none;
    color:black;
    text-align: center;
    padding: 18px;
}
.menu li a:hover{
    text-decoration: underline;
}
/*Banner*/
.banner{
   max-width: 1050px;
   height: 200px;
   border: 2px solid #4681d6;
   border-radius: 10px;
   margin: 20px;
   /*Cortar imagem*/
   overflow: hidden;
   box-shadow: 2px 2px 2px 2px #939393;
}
/*Content Home*/
.content-box{
    margin: 20px;
    display: flex;
}
.box{
    border: 2px solid orangered;
    border-radius: 10px;
    overflow: hidden;
    max-width: 300px;
    margin: 15px 35px 15px 35px;
    /*sombra*/
    box-shadow: 2px 2px 2px 2px #939393;
}
.box img{
    border-bottom: 1px solid orangered;
}
.box p{
    padding: 10px 10px 10px 10px;
    /*         t    r    b    l  */
    color: rgb(255, 115, 65); 
    text-align: center; 
}
.box a{
    padding: 0 0 10px 10px;
    display: block;
    color: #4681d6;
    text-decoration: none;
    /*negrito*/
    font-weight: bold;
    text-align: center;
}
.box a:hover{
    text-decoration: underline;
}
.promocao{
    display: flex;
    justify-content: center;
}
.promocao img{
    width: 800px;
    height: 180px;
    border: 2px solid #4681d6;
    border-radius: 10px;
    margin: 20px;
    overflow: hidden;
    box-shadow: 2px 2px 2px 2px #939393;
}
.novidades{
    background: #d9d9d9;
    margin-top: 20px;  
    display: flex;
    justify-content: space-around;
}
.novidades span{
    font-size: 150px;
}
.novidades article{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}
.novidades form{
    width: 100%;
}
.novidades form input{
    max-width: 300px;
    padding-left: 10px;
    width: 100%;
    height: 35px;
    border-radius: 5px;
    outline: none;
    border: 1px solid #939393;
}
.novidades form button{
    border: 2px solid #4681d6;
    background: transparent;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px;
    color: orangered;
    font-weight: bold;
}
footer{
    background: orangered;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer p{
    color: black;
    font-weight: bold;
}
.spaceSobre{
    margin: 20px 0 20px 0;
}
.contentSobre{
    margin: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}