* {
    margin: 0;
    padding: 0;
}

body {
    background: #696969;
}

.container {
    /*Largura*/
    width: 100%;
    max-width:450px;
    /*Borda*/
    box-shadow: 2px 2px 2px 2px rgb(75, 75, 75) ;
    /* Borda arrendondada */
    border-radius: 5px;
    /* Centralizar minha tela*/
    margin: 40px auto;
}

.container form {
    /*Flexbox*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-control input {
    /*Espaçamento entre os elementos*/
    margin-top: 15px;
    margin-bottom: 15px;
    margin-left: 15px;
    border-radius: 20px;
    box-shadow:  2px 2px 2px #353535;
    /*Efeito colateral do navegador*/
    outline: white;
    /*Espaçamento dentro do elemento*/
    padding: 10px;
}

.form-control label {
    /* Espaçamento entre os elementos */
    margin-top: 15px;
    color: #000000;
    display: block;
}

#verifica-idade {
    /* Cor do fundo */
    background: #d4d0d0;
    /* Borda do Botão */
    outline: white;
    border: 1px solid rgb(0, 0, 0);
    box-shadow:2px 2px 2px #353535 ;
    border-radius: 20px;
    /*Cor de texto */
    color: #000000;
    /*Espaçamento dentro do elemento */
    padding: 10px;
    /* Espaçamento fora do elemento */
    margin-bottom: 10px;
    /* Cursor mãozinha */
    cursor: pointer;
    transition: all 0.5s;
}

#verifica-idade:hover {
    background-color: #696969;
    color: #ffffff;
}

#resultado {
    color: #000000;
    margin-top: 10px;
    margin-bottom: 10px;
}

#message {
    display: none;
}

#message span {
    color: red;
    padding-bottom: 10px;
    display: block;
}