body {
            border: 4px solid rgb(17, 17, 37);  
            border-radius: 20px; 
            box-shadow: 3px 3px 3px #0d1d3a;
            font-family: Arial, sans-serif;
            text-align: center;
            padding: 2px;
            background-color: #263146;
        }

        main {
            margin-top: 20px;
        }

        h1 {
            font-size: 40px;
            color: #ffffff;
        }

        h2{
            font-size: 40px;
            color: #ffffff;
        }

        h3 {
            
            color: #ffd900;
            font-size: 25px;

        }
        
        p {
            color: #ffd900;
            font-size: 20px;
        }

        .contador-dia {
            font-size: 50px;
            font-weight: bold;
            color: #ff5e00;
        }

        .contador-hora {
            font-size: 50px;
            font-weight: bold;
            color: #ff5e00;
        }

        footer h4 {
            margin-top: 3px;
            font-size: 15px;
            color: #ffffff;
        }

